<form action="/landmarks" method="post">
  <input type="text" name="landmark[name]" id="landmark_name" value="Landmark Name">
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="Year Completed">
  <input type="submit" value="Create New Landmark">
</form>
