<a href="/figures/new">Click here to create new figure</a> <br><br>
<a href="/figures">View all figures</a><br><br>

<a href="/landmarks/new">Click here to create new landmark</a><br><br>
<a href="/landmarks">View all landmarks</a>
